body {
  color: whitesmoke;
  background-color: #243b55;
  font-family: "Montserrat", sans-serif !important;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.top h1 {
  font-size: 45px;
  color: whitesmoke;
}

.both {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: -10rem;
}

.combbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  background-color: #243b55;
}
.box1 {
  margin-top: 2rem;
  border-style: solid;
  border-radius: 10px;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 90vh;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.tb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tb input {
  height: 40px;
  width: 200px;
  margin-right: 1rem;
}

.btn1 {
  margin-left: 1rem;
}

.data {
  margin-top: 2rem;
  border-style: solid;
  border-color: none;
  height: 50vh;
  border-radius: 10px;
  width: 50%;
  overflow: auto;
  background-color: #243b55;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
}

.outcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  border-bottom: 1px solid whitesmoke;
}

.outcome h2 {
  margin-left: 0.5rem;
}

.amtbtn {
  display: flex;
  align-items: center;
}

.amtbtn button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: none;
  padding: 0;
  background: none;
}

.amtbtn button:hover {
  background-color: white;
  border-radius: 5px;
}

.mainchart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.chart {
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .combbox {
    flex-direction: column;
  }

  .title {
    font-size: 10px;
  }

  .tb input {
    height: 20px;
    width: 90px;
    margin-left: 0.2rem;
  }

  .btn1 {
    margin-left: 1px;
  }

  .box1 {
    display: flex;
    width: 85%;
    overflow: hidden;
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
  }

  .price {
    margin-right: 0rem;
  }
  .data {
    width: 85%;
    padding: 0 1rem 0 1rem;
    margin: 0 1rem 1rem 0;
  }

  .chart {
    width: 80%;
    margin-top: -5rem;
  }
}
